.instructions {
  .instructions-title {
    padding-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 100;

    color: #e00000;
    span {
      font-size: 3rem;
      font-weight: bold;
    }
  }
}
